---
export const prerender = true;
---
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="refresh" content="0;url=/en/about/" />
  <script is:inline>window.location.href = '/en/about/';</script>
</head>
<body>
</body>
</html>
